/* commons roules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #183A4A;
}

.square {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

h1 {
    color: white;
}


/* Main */


/* classi dei li */

.numeri {
    background-color: #3D88AE;
}

.fb {
    background-color: #DE5471;
}

.f {
    background-color: #61D2A4;
}

.b {
    background-color: #F9D277;
}